.com-comment-item{
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0;

  .title{
    height: 30px;
    line-height: 30px;
  }
  .info{
    display: flex;
  }
  .avatar{
    width:30px;
    height: 30px;
  }
}