@import "./variables.less";

body {
  margin: 0;
  padding: 0;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.page {
  height: 100%;
  background: @color-white;
}

.container {
  padding: 10px;
}

.bold {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

blockquote {
  border-left: 5px solid #ccc;
  text-indent: 10px;
}

.btn-link {
  background-color: @brand-primary;
  display: inline-block;
  color: @color-white;
  padding: 6px 15px;
  border-radius: 5px;
}

.button-area {
  margin: 0 20px;
}